@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.Input.Image != null)
            {
                <div class="thumbnail">
                    <div class="image" style="margin-bottom:20px">
                        <img class="img-responsive" src="~/images/@Model.Input.Image" height="150" width="150" />
                    </div>
                </div>
            }

            @if (User.IsInRole("Crowdworker"))
            {
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Input.Rating)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Input.Rating) / 5
                    </dd>
                </dl>
            }
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="input-group">
                            <input asp-for="Input.Email" class="form-control" />
                            <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                        </div>
                    }
                    else
                    {
                        <input asp-for="Input.Email" class="form-control" />
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                    }
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="Input.Name"></label>
                        <input asp-for="Input.Name" class="form-control" />
                    </div>
                    @if (User.IsInRole("Requester"))
                    {
                        <div class="form-group">
                            <label asp-for="Input.CompanyDescription"></label>
                            <input asp-for="Input.CompanyDescription" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.BudgetTotal"></label>
                            <input asp-for="Input.BudgetTotal" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Spent"></label>
                            <input asp-for="Input.Spent" class="form-control" disabled />
                        </div>
                        <div>
                            <label asp-for="Input.MyGames"></label>
                            <br />
                            @foreach (var item in Model.Input.MyGames)
                            {
                                <div class="col-md-3" style="margin-bottom:20px">
                                <div class="thumbnail">
                               @if (item.Picture != null)
                               {
                                    <div class="image" style="margin-bottom:20px">
                                        <img class="img-responsive" src="~/images/@item.Picture" height="250" width="250" />
                                    </div>
                               }
                                    <div class="caption" style="border-top:3px solid #808080">
                                        <h6>@item.Title</h6>
                                        <a asp-controller="Games" asp-action="Details" asp-route-id="@item.GameID">Details</a>
                                    </div>
                                </div>
                             <br />
                        </div>
                            }
                     </div>
                    }
                    @if (User.IsInRole("Crowdworker"))
                    {
                        <label asp-for="Input.MyReviews"></label>
                        <br />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Game</th>
                                    <th>Overall Rating</th>
                                    <th>Pros</th>
                                    <th>Cons</th>
                                    <th>Summary</th>
                                    <th>Date Posted</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Input.MyReviews)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Game.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OverallRating)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Pros)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cons)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Summary)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DatePosted)
                                        </td>
                                        <td>
                                            <a asp-controller="Reviews" asp-action="Details" asp-route-id="@item.ReviewID">Details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    <br />
                    <button type="submit" class="btn btn-default" >Save</button>
                </div>
        </form>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
