@model MyProject.Models.Review

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GraphicQuality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GraphicQuality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Playability)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Playability)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StoryCharacterDevelopment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StoryCharacterDevelopment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GameplayControls)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GameplayControls)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Multiplayer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Multiplayer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OverallRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OverallRating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pros)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pros)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cons)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cons)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WrittenReview)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WrittenReview)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>
    </dl>
</div>

@if (User.IsInRole("Requester"))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Details">
                <div class="form-group">
                    <label asp-for="ReviewRating" class="control-label"></label>
                    <span class="text-primary">
                        <i class="ratingStar far fa-star" data-value="1"></i>
                        <i class="ratingStar far fa-star" data-value="2"></i>
                        <i class="ratingStar far fa-star" data-value="3"></i>
                        <i class="ratingStar far fa-star" data-value="4"></i>
                        <i class="ratingStar far fa-star" data-value="5"></i>
                    </span>
                    <input type="hidden" name="ReviewRating" id="ratingsValue" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
}

<div>
    @if (User.IsInRole("Crowdworker"))
    {
        <a asp-action="Edit" asp-route-id="@Model.ReviewID">Edit |</a>
        <a asp-action="Delete" asp-route-id="@Model.ReviewID">Delete |</a>
        <a asp-controller="Games" asp-action="Index">Back to List</a>
    }
    else
    {
        <a asp-controller="Games" asp-action="Index">Back to List</a>
    }

</div>
