@model MyProject.Models.ApplicationUser

@{
    ViewData["Title"] = "Index";
}

<h2>Profile</h2>

<div>
    <h4>@Html.DisplayFor(model => model.UserName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeveloperName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeveloperName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit Profile</a> |
    <a asp-action="Index">Back to Profile</a>
</div>
